charts-modal {
  .card-md h5 {
        display: flex;
        color: #ccc;
        width: 100%;
        margin-top: .2em!important;
        margin-bottom: .8em!important;
        font-size: 1.8rem;
      }
      .card-md h5::before,
      .card-md h5::after {
        content: "";
        flex:1;
        align-self: center;
        border-bottom: 1px solid #ccc;
      }
      .card-md h5::before {margin-right: .3em}
      .card-md h5::after {margin-left: .3em}
}