charts-modal {
    h5 {
        display: flex;
        color: #ccc;
        width: 100%;
        margin-top: .2em!important;
      }
      h5::before,
      h5::after {
        content: "";
        flex:1;
        align-self: center;
        border-bottom: 1px solid #ccc;
      }
      h5::before {margin-right: .3em}
      h5::after {margin-left: .3em}
}